.box {
  max-width: 1920px;
  width: 100vw;
  margin: 25px auto 0 auto;
  background: #1C1C21;
}

.content {
  max-width: 1280px;
  display: flex;
  justify-content: space-around;
}

.link_box {
  min-width: 178px;
  display: flex;
  align-items: center;
  margin-right: 29px;
  padding: 10px;
}

.nav_bar {
  min-width: 356px;
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 9px 0 0;
}
