.box {
  max-width: 1920px;
  width: 100vw;
  margin: 25px auto 0 auto;
  background: #1C1C21;
}

.content {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.link {
  display: flex;
  text-decoration: none;
  color: #8585AD;
  padding: 16px 20px 16px 20px;
}

.linkActive {
  composes: link;
  color: #F2F2F3;
}

.nav {
  width: 39%;
  display: flex;
  justify-content: center;
}

.text {
  margin-left: 9px;
}

